@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #800020;
}

.wrapper{
    background-color: #ffffbf;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px rgba(0, 0, 0, 0.1)
                0 32px 64px rgba(0, 0, 0, 0.5);
}

.form{
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.field{
    margin: 20px 0;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

 .button{
    width: 100%;
    padding: 10px;
    background-color: #800020;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Sing Up Form CSS Code*/

.form .singup {
    width: 20px;
    height: 20px;
    position: relative;

}

.form form .error-txt{
    color: #721c24; 
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
}

.form form .name-details{
    display: flex;
}

form .name-details .field:first-child{
     margin-right: 10px;
}

form .name-details .field:last-child{
     margin-left: 10px;
}
 
.form form .name-details{
    display: flex;
}

form .name-details .field:first-child{
    margin-right: 10px;
}

form .name-details .field:last-child{
    margin-left: 10px;
}
.form form .field{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}

.form form .field label {
    margin-bottom: 2px;

}

.form form .field input{
    outline: none;
}

.form form .button input{
    height: 13px;
    width: 45px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.form form .field i{
    position: absolute;
    right: 15px;
    color: #ccc;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form form .archivo input{
    margin-top: 13px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    background: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.form .link{
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
}

.form .link a{
    color: #333;
}
.form .link a:hover{
    text-decoration: underline;
}

.usuario{
    display: flex;
    flex-direction: column;
}
.mail {
    display: flex;
    flex-direction: column;
}
.contraseña{
    display: flex;
    flex-direction: column;
}
.logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;

}
 /* Área de usuarios */

 .users{
    padding: 25px 30px;
 }

 .users header,
 .users-list a {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
 }

.wrapper img{
    object-fit: cover;
    border-radius: 50%;
}

:is(.users, .users-list) .content{
    display: flex;
    align-items: center;
}

.users header .content img{
    height: 50px;
    width: 50px;
}

:is(.users, .users-list) .details{
    color: #000;
    margin-left: 15px;

}

:is(.users, .users-list) span {
   font-size: 18px;
   font-weight: 500;

}

.users header .logout{
    color: white;
    font-size: 17px;
    padding: 7px 15px;
    background: #800020;
    border-radius: 5px;
}

.users .search {
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.users .search .text{
    font-size: 18px;
}

.users .search input{
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.users .search button {
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    color: #fff;
    background:  #800020;
    cursor: pointer;
    font-size: 17px;
    border-radius: 0 5px 5px 0;
}

.users-list {
  max-height: 350px;
  overflow-y: auto;
}

.users-list::-webkit-scrollbar{
    width: 0px;
}

.users-list a {
    margin-bottom: 10px;
    page-break-after: 10px;
    padding-right: 15px;
    border-bottom-color: #f1f1f1;
}

.users-list a:last-child {
    border: none;
    margin-bottom: 0px;
}

.users-list a .content img{
    height: 40px;
    width: 40px;
}

.users-list a .content p {
    color: #67676a;
}

.users-list a .status-dot{
    font-size: 12px;
    color: #468669;
}

/* Usa este nombre de la clase en php para mostrar el estado de fuera de linea */

.users-list a .status-dot.offline {
    color: #ccc;
}

/* Chat Area CSS */