@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #800020;
}
.wrapper{
    background-color: #ffffbf;
}

.form{
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.field{
    margin: 20px 0;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
 .button{
    width: 100%;
    padding: 10px;
    background-color: #800020;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.registrate{
    width: 20px;
    height: 20px;
    position: relative;

}